.card-relation {
    width: 100%;
    min-height: 325px;
}

#loading {
    margin: auto;
    margin-top: 325px;
}

.h {display: none; }
.v { display: block; }

body{
    background-color: #f06292;
}

.darkBlue{
    color: #1a237e;
}
